.containerCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 1px 1px rgb(197, 197, 197);
    width: 14rem;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2%;
}
.informacion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: 2vh;
    
}
.informacion a{
    justify-content: left;
    display: flex;
    text-align: left;
    color: black;
    font-family: 'Poppins';

}
.tenis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-direction: row;
    width: 100%;
}
.buton{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.buton svg{
    cursor: pointer;
    transition: filter 0.3s ease;
}
.editIcon:hover {
    filter: blur(.63px);
    color: blue; /* Cambia el color al hacer hover sobre el icono de editar */
  }
  
  .trashIcon:hover {
    filter: blur(.63px);
    color: red; /* Cambia el color al hacer hover sobre el icono de eliminar */
  }