.containerCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 1px 1px rgb(197, 197, 197);
    width: 14rem;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2%;
    
}
.informacion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: 2vh;
    
}
.informacion a{
    justify-content: left;
    display: flex;
    text-align: left;
    color: black;
    font-family: 'Poppins';

}
.tenis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-direction: row;
    width: 100%;
}
.buton{
    display: flex;
    justify-content:right;
    margin: auto;
    width: 100%;
    margin-bottom: 3%;
    justify-content: space-between;
    
}


.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
    position: fixed;
    background-color: white;
    width: 20rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      z-index: 1000;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .info2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .saveButton,
  .cancelButton {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .saveButton {
    background-color: #4caf50;
    color: #fff;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: #fff;
  }
  
.buton svg{
    cursor: pointer;
    
}
