.containerApartadoClient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto
}
.contenido{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 6%;
    gap: 2%;
}